<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Messagerie | Tweet academie </title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
	<link rel="stylesheet" href="plugins/Header/header.css">
</head>
<body>

	<div class="app"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="plugins/Header/Header.js"></script>
	<script src="plugins/Form/Form.js"></script>
	<script src="plugins/Message/Message.js"></script>
	<script src="message.js"></script>
</body>
</html>