<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https:	//cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<title>Profile | Tweet academie</title>
</head>
<body>

	<div class="app"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="search.js"></script>
	<script src="plugins/Header/Header.js"></script>
	<script src="plugins/Form/Form.js"></script>
	<script src="plugins/Tweet/ShowTweets.js"></script>
	<script src="plugins/Tweet/CreateTweet.js"></script>
	<script src="plugins/Tweet/NewComment.js"></script>
</body>
</html>